<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="leo.work.support">

    <!--前台服务-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <!--屏幕录制服务-->
        <service
            android:name=".biz.MediaProjectionService"
            android:foregroundServiceType="mediaProjection" />

    </application>

</manifest>
